html,body{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

/* profile page  */
.profile-page{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #2ecc71;
}
.card{
    text-align: center;
    width: 60%;
}
.image-container img{
    border-radius: 50%;
}
.card button{
    border: none;
    background-color: #3498db;
    box-shadow: 0 10px 20px#2980b9,
    0 6px 6px #2980b9, 0 0 100px -10px #3498db;
    width: 150px;
    height: 30px;
    cursor: pointer;
    margin-left: 10px;
}
.card h3,.card h4,.card p{
    color: #34495e;
}


/* list */
.list-container{
    text-align: center;
    height: 80vh;
    padding: 1rem;
}

/* create-task */
.task-container{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.task-container ul{
    list-style: none;
    padding-left: 0;
}

form *{
    display: block;
    margin-top: 10px;
}
.subtasks-container{
    display: flex;
}

.allTasks-cont{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border:1px solid #2980b9;
    padding: 1rem;
    border-radius: 5px;
}